# Shortcuts for easier navigation: .., ..., ...., ....., ~ and -
Adapted from Mathias Bynens Dotfiles
https://github.com/mathiasbynens/dotfiles

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Dropbox/"
alias ws="cd ~/Dropbox/workspace/"
